* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* navbar animations */
#favitems {
  transition: all 500ms ease-in-out;
}
#fav:hover #favitems {
  pointer-events: none;
  opacity: 1;
  color: black;
  transform: translateY(-30%);
}

.nav_ele_container {
  position: relative;
}
.nav_ele_container > .link {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
  transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
.nav_ele_container:hover .link {
  transform: translate(-50%, -50%);
}
.nav_ele_container:hover > h1 {
  transform: translate(0%, -105%);
  opacity: 0;
}

/* Get started  animation */
#get_started {
  transition: background-color 200ms ease-in-out;
}

#get_started:hover {
  background-color: white;
  border-color: black;
}

#get_started:hover span {
  color: black;
  transition: background-color 200ms ease-in-out;
  font-weight: bold;
}
#get_started:hover span:nth-child(2) {
  background-color: black;
  font-weight: normal;
  color: white;
  transition: background-color 200ms ease-in-out;
}
