* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* navbar animations */
.nav_ele_container {
  position: relative;
}
.nav_ele_container > .link {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
  transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
.nav_ele_container:hover .link {
  transform: translate(-50%, -50%);
}
.nav_ele_container:hover > h1 {
  transform: translate(0%, -105%);
  opacity: 0;
}

/* Get started  animation */
#get_started {
  transition: background-color 200ms ease-in-out;
}

#get_started:hover {
  background-color: white;
  border-color: black;
}

#get_started:hover span {
  color: black;
  transition: background-color 200ms ease-in-out;
  font-weight: bold;
}
#get_started:hover span:nth-child(2) {
  background-color: black;
  font-weight: normal;
  color: white;
  transition: background-color 200ms ease-in-out;
}

/* CSS PROPERTIES  */

.css_prop:hover {
  background-color: white;
  /* scale: 1.05; */
  transition: all 300ms ease-in-out;
}
.css_prop:hover h2,
.css_prop:hover p {
  color: black;
  font-weight: bold;
}
.css_prop:hover select {
  background-color: rgb(154, 154, 154);
  color: black;
}

#filter > * {
  transition: all 300ms ease-in-out;
}
#filter:hover > * {
  opacity: 0.1;
}
#filter:hover > *:hover {
  opacity: 1;
}

/* .css_prop {
  scale: 0.8;
  transition: all 300ms ease-in-out;
} */
